<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588641564643-1ar7u5ueu1m7bc96d6s2egv1k3mmaa53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588641564643-1ar7u5ueu1m7bc96d6s2egv1k3mmaa53</string>
	<key>API_KEY</key>
	<string>AIzaSyBY4IrnjFdI52u0wnfyCwKevYEZJs81nd4</string>
	<key>GCM_SENDER_ID</key>
	<string>588641564643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kiko.DataBaseFirebase</string>
	<key>PROJECT_ID</key>
	<string>database-example-550c9</string>
	<key>STORAGE_BUCKET</key>
	<string>database-example-550c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588641564643:ios:f6d17ac905e6c002c012d6</string>
</dict>
</plist>